version: '3'

services:
  web:
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - ./html:/usr/share/nginx/html

  stats:
    image: alpine
    command: /bin/sh -c "while true; do echo 'System is up'; sleep 10; done"
